{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 61%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--eggshell);
    color: var(--wenge-brown);
    min-height: 100vh;
    font-size: 'Outfit', sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;

}

img{
    max-width: 100%;
    display: block;
    
}

h1,h2{
    font-family: 'young serif', serif;
    font-weight: 400;
}

h1{
    color: var(--dark-charcoal);
    font-size: 2.8rem;
 
}
h2{
    color: var(--nutmeg);
    margin-bottom: 1rem;
}
.recipe-step{
    margin: 1rem 0;
}
.nutrition{
    
    margin-top: 1rem;
}
ul{
    padding-left: 1.25rem;
}

ul li::marker{
    color: var(--nutmeg);
    font-weight: bold;

}
ul li{
    margin-bottom: .5rem;
}

ul li span{
    font-weight: 700;
    color: var(--wenge-brown);
    margin-left: 1rem;
    font-weight: 700;


}


hr{
    margin: 1.5rem 0;
    border: 1px solid var(--light-grey);

}

.container{
    max-width: 800px;
    background-color: var(--white);
    margin: 2rem;
    border-radius: 1rem;
    
}
.container .recipe-img{
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;

}

.container .recipe-img img{
    border-radius: 1rem;
}

.recipe {
    margin: 1.5rem;
}

.recipe-preparation-time{
    margin: 1.5rem 0;
}